<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>How my car became part of the IoT</title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/warp.css" id="theme">

	<!-- <script src="https://cdn.cityzendata.net/quantumviz/latest/webcomponentsjs/webcomponents-lite.js"></script> -->
	<link rel="import" href="https://cdn.cityzendata.net/quantumviz/latest/warp10-quantumviz/warp10-geoquantumviz.html">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<h3>How my car became part of the IoT</h3>
				<img style="border:0px;box-shadow:none;" src="https://cdn-images-1.medium.com/max/1600/1*gMnmCbrzrAe44Fjn2tiJgw.png" />
				<p>
					<small>Created by <a href="https://pierrezemb.fr">Pierre Zemb</a> / <a href="http://twitter.com/PierreZ">@PierreZ</a></small>
				</p>
			</section>

			<section>
				<h3>My car is like</h3>
				<br>
				<iframe src="//giphy.com/embed/Up9ndZzspohpu" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/random-french-movie-bourvil-Up9ndZzspohpu"></a></p>
			</section>

			<section>
				<h3>My mechanic is like</h3>
				<br>
				<iframe src="//giphy.com/embed/94EQmVHkveNck" width="480" height="277" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/94EQmVHkveNck"></a></p>
			</section>

			<section>
				<h3>Time for a choice</h3>
				<br>
				<iframe src="//giphy.com/embed/CGzN4zUKqE8YU" width="480" height="197" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/blue-CGzN4zUKqE8YU"></a></p>
			</section>

			<section>
				<h3>Let's collect some data</h3>
				<img style="border:0px;box-shadow:none;" width="300" src="https://sc02.alicdn.com/kf/HTB1Iq0aLFXXXXb3XXXXq6xXFXXXG/2016-Nouvelle-Arriv%C3%A9e-ELM327-Bluetooth-Vgate-iCar3-Bluetooth-ELM327-iCar-3-OBD2-OBDII-Bluetooth-Vgate-Interface.jpg">
			</section>

			<section>
				<h3>Torque (Pro)</h3>
				<img style="border:0px;box-shadow:none;" src="https://lh6.ggpht.com/ubFlGK_aZNu2ndsXY-lAmQrVp3dzJuHDv82O182c85WHHxhgFq27x7WNWr4_KWCu6A=w300">
				<p><small>
					"Upload live OBD2 data to your webserver"
				</small></p>
			</section>


			<section>
				<h3>What's pulled by my OBD2?</h3>
				<p>
					<img style="border:0px;box-shadow:none;" width="315px" src="metrics2.png" />
					<img style="border:0px;box-shadow:none;" width="315px" src="metrics3.png" />
					<img style="border:0px;box-shadow:none;" width="315px" src="metrics1.png" />
				</p>
			</section>

			<section>
				<h3>What is a time series?</h3>
				<img style="border:0px;box-shadow:none;" width="400px" src="gt.png">
				<blockquote cite="https://en.wikipedia.org/wiki/Time_series">
					A time series is a series of data points indexed (or listed or graphed) in time order.
				</blockquote>
			</section>

			<section>
				<h3>Let's use Warp10 By <a href="http://www.cityzendata.com/">Cityzen Data</a></h3>
				<img style="border:0px;box-shadow:none;" width="300px" src="https://avatars0.githubusercontent.com/u/4659114?v=3&s=466">
				<p>
					<small>Warp 10 Platform is designed to collect, store and manipulate sensor data.</small>
				</p>
			</section>

			<section>
				<h3>Warp10's gold feature? WarpScript</h3>
				<img src="warpscript.jpg"/>
			</section>

			<section>
				<h3>WarpScript is stack-based</h3>
				<table><tr><th>Input</th><th>Result</th></tr><tr><td>1</td><td>1</td></tr><tr><td>1 2</td><td>2<br>1</td></tr><tr><td>1 2 +</td><td>3</td></tr></table>
			</section>

			<section>
				<warp10-geoquantumviz
	width="800" height="450" map-width="800" map-height="450"
	show-axis="true"  tooltip="true" line-width="2" reload="0"
	current-values={{current}}
	host="https://warp.cityzendata.net/dist/api/v0" old-path="" >
NOW '_NOW' STORE
51.40 '_BASE_LAT' STORE
0.00 '_BASE_LON' STORE
<% 10000000 * $_NOW SWAP - %> 'getTimestamp' STORE
<% 10.0 / 2 * PI * SIN 0.1 * $_BASE_LAT + %> 'getLat' STORE
<% -0.01 * $_BASE_LON + %> 'getLon' STORE
<% 10.0 / 2 * PI * COS 10 * %> 'getValue' STORE
<%
'i' STORE
$i @getTimestamp
$i @getLat
$i @getLon
1000
$i @getValue
ADDVALUE
%> 'generateGts' STORE

NEWGTS
1 10 $generateGts FOR

NEWGTS
$_NOW 10000000 - 51.50 -0.10 NaN 10 ADDVALUE
$_NOW 20000000 - 51.46 -0.09 NaN 9 ADDVALUE
$_NOW 30000000 - 51.42 -0.08 NaN 8 ADDVALUE
$_NOW 40000000 - 51.40 -0.07 NaN 7 ADDVALUE
$_NOW 50000000 - 51.44 -0.06 NaN 6 ADDVALUE
$_NOW 60000000 - 51.48 -0.05 NaN 8 ADDVALUE
$_NOW 70000000 - 51.50 -0.03 NaN 10 ADDVALUE
$_NOW 80000000 - 51.52 -0.02 NaN 9 ADDVALUE
$_NOW 90000000 - 51.54 -0.01 NaN 8 ADDVALUE
$_NOW 100000000 - 51.56 -0.00 NaN 9 ADDVALUE


NEWGTS
$_NOW 10000000 - 51.50 -0.10 NaN 'a' ADDVALUE
$_NOW 20000000 - 51.46 -0.09 NaN 'b' ADDVALUE
$_NOW 30000000 - 51.42 -0.08 NaN 'c' ADDVALUE
$_NOW 40000000 - 51.40 -0.07 NaN 'd' ADDVALUE

NEWGTS
$_NOW 15000000 - 51.44 0.06 NaN true ADDVALUE
$_NOW 35000000 - 51.48 0.05 NaN false ADDVALUE
$_NOW 55000000 - 51.50 0.03 NaN true ADDVALUE
$_NOW 75000000 - 51.52 0.02 NaN false ADDVALUE
$_NOW 95000000 - 51.54 0.01 NaN true ADDVALUE

{
'positions' [ [ 51.50 -0.22 ] [ 51.46 -0.30 ] [ 51.42 -0.20 ] ]
}


{
'positions' [ [ 51.20 -0.12 42 ] [ 51.36 -0.00 21 ] [ 51.32 -0.20 84 ] ]
}

{
'positions' [ [ 51.20 -0.52 42 ] [ 51.36 -0.40 21 ] [ 51.32 -0.60 84 ] ]
}

{
'positions' [
	[ 51.10 -0.52 42 10 ] [ 51.56 -0.40 21  30 ] [ 51.42 -0.60 84 40 ]
	[ 51.30 -0.82 42 1 ] [ 51.76 -0.70 21  20 ] [ 51.62 -0.90 84 45 ]
]
}

8 ->LIST
'gts' STORE

[
{ 'color' '#ff1010' 'key' 'Path A' }
{ 'color' '#1010ff' 'key' 'Path B' }
{ 'key' 'Annotations (text)' 'render' 'marker'  'marker' 'fuel' }
{ 'key' 'Annotations (boolean)' 'baseRadius' 5 }
{ 'key' 'fuel'   'render' 'marker'   }
{ 'key' 'points' 'render' 'dots' 'color' '#ffa' 'borderColor' '#f00' 'baseRadius' 5 }
{ 'key' 'points' 'render' 'weightedDots' 'color' '#aaf' 'borderColor' '#f00' 'maxValue' 100 'minValue' 0 'baseRadius' 5 'numSteps' 10 }
{
	'key' 'points' 'render' 'coloredWeightedDots'  'maxValue' 100 'minValue' 0 'baseRadius' 5
	'maxColorValue' 50 'minColorValue' 0 'numColorSteps' 10 'startColor' '#ff0000' 'endColor' '#00ff00'
}
]
'params' STORE

{ 'interpolate' 'cardinal' }
'globalParams' STORE

{
'gts' $gts
'params' $params
'globalParams' $globalParams
}
</warp10-geoquantumviz>
			</section>

			<section>
				<h3>First step: let's create a proxy</h3>

				<p><a href="https://github.com/PierreZ/Torque2Warp10">github.com/PierreZ/Torque2Warp10</a></p>
			</section>

			<section>
				<h3>Second step: fetch our data</h3>
    <pre><code data-trim data-noescape>
[
  'TOKEN' // token for auth
  '~torque.*' // classname
  { } // labels or tags
  NOW 60000000 // timelapse
] FETCH // Let's fetch!
    </code></pre>
</section>

			<section>
				<h3>Instant gas consumption</h3>
				<warp10-quantumviz height="400" host="https://pierrezemb.ovh/api/v0">
					'2016-07-11T00:00:00.000000Z' // Start of measures
					'BEGIN' STORE

										'ofl.IF2yopmtq8Ye7vEDXqhDWtjrSPSAOoNgLI.Niux7vKMIHUGCBcb0ss66LbUX..XCBKJ7FYpcpeq4_ZAx5L801WANjQgvr7nEPzYkQ206XrsvbFXpNdrH0S1tF9pPub_iW9tTCOIMHPJnQUGlpJHlI3aAdKvS2MigzYXSxGzlwGDaU7gf9gAz9nqYZPs1uCNQq7gYPuifCZpzkqzFJhlMX1r1K6G.FzChRdNR403c_oen_KvcJDTAOhwgOLjk' EVALSECURE


					'=torque.litres.per.100.kilometer.long.term.average' 'CLASSNAME' STORE // Classname Selector
					//'=torque.speed.obd' 'CLASSNAME' STORE // Classname Selector
					//'~.*' 'CLASSNAME' STORE // Classname Selector
					{} 'LABEL' STORE // Label list to filter

					[
					    $TOKEN
					    $CLASSNAME
					    $LABEL
					    $BEGIN // Start TS
					    '2016-07-11T12:00:00.000000Z'
					] FETCH  // Fetch the data

					{ 'id' '' } RELABEL

					// bucketizer is simply a downsampling of our fetched data
					[
					    SWAP // Swap is pushing here the value stacked
					    bucketizer.mean
					    0 // lastbucket
					    10 s // bucketspan
					    0 // bucketcount
					] BUCKETIZE 'speed' STORE

					'color' '#ff1010'
					'key' 'Speed difference'
					4 ->MAP
					1 ->LIST
					'params' STORE

					'interpolate' 'cardinal'
					2 ->MAP
					'globalParams' STORE

					'gts' $speed
					'params' $params
					'globalParams' $globalParams
					6 ->MAP

				</warp10-quantumviz>
			</section>
			<section>
				<h3>Gas consumption over days</h3>
				<warp10-quantumviz height="400" host="https://pierrezemb.ovh/api/v0">
					'2016-07-11T00:00:00.000000Z' // Start of measures
					'BEGIN' STORE

										'ofl.IF2yopmtq8Ye7vEDXqhDWtjrSPSAOoNgLI.Niux7vKMIHUGCBcb0ss66LbUX..XCBKJ7FYpcpeq4_ZAx5L801WANjQgvr7nEPzYkQ206XrsvbFXpNdrH0S1tF9pPub_iW9tTCOIMHPJnQUGlpJHlI3aAdKvS2MigzYXSxGzlwGDaU7gf9gAz9nqYZPs1uCNQq7gYPuifCZpzkqzFJhlMX1r1K6G.FzChRdNR403c_oen_KvcJDTAOhwgOLjk' EVALSECURE


					'=torque.litres.per.100.kilometer.long.term.average' 'CLASSNAME' STORE // Classname Selector
					//'=torque.speed.obd' 'CLASSNAME' STORE // Classname Selector
					//'~.*' 'CLASSNAME' STORE // Classname Selector
					{} 'LABEL' STORE // Label list to filter

					[
					    $TOKEN
					    $CLASSNAME
					    $LABEL
					    $BEGIN // Start TS
					    '2016-07-15T00:00:00.000000Z'
					] FETCH  // Fetch the data

					{ 'id' '' } RELABEL

					// bucketizer is simply a downsampling of our fetched data
					[
					    SWAP // Swap is pushing here the value stacked
					    bucketizer.mean
					    0 // lastbucket
					    10 s // bucketspan
					    0 // bucketcount
					] BUCKETIZE

					// Let's create a gts for each trip
					5 m       //  Quiet period
					10         // Min number of values
					'subTrip'  // Label
					TIMESPLIT

					0 GET // Get the first list (timesplit is sending a list of list)
					UNBUCKETIZE
					[
					    SWAP // Swap is pushing here the value stacked
					    bucketizer.mean
					    0 // lastbucket
					    0 // bucketspan
					    1 // bucketcount
					] BUCKETIZE

					[]
					reducer.mean.exclude-nulls
					3 ->LIST
					REDUCE 'speed' STORE

					'color' '#ff1010'
					'key' 'Speed difference'
					4 ->MAP
					1 ->LIST
					'params' STORE

					'interpolate' 'cardinal'
					2 ->MAP
					'globalParams' STORE

					'gts' $speed
					'params' $params
					'globalParams' $globalParams
					6 ->MAP

				</warp10-quantumviz>
			</section>

			<section>
				<h3>Speed of my car</h3>
				<warp10-quantumviz height="400" host="https://pierrezemb.ovh/api/v0">
					'2016-07-11T00:00:00.000000Z' // Start of measures
					'BEGIN' STORE

					'ofl.IF2yopmtq8Ye7vEDXqhDWtjrSPSAOoNgLI.Niux7vKMIHUGCBcb0ss66LbUX..XCBKJ7FYpcpeq4_ZAx5L801WANjQgvr7nEPzYkQ206XrsvbFXpNdrH0S1tF9pPub_iW9tTCOIMHPJnQUGlpJHlI3aAdKvS2MigzYXSxGzlwGDaU7gf9gAz9nqYZPs1uCNQq7gYPuifCZpzkqzFJhlMX1r1K6G.FzChRdNR403c_oen_KvcJDTAOhwgOLjk' EVALSECURE

					'=torque.litres.per.100.kilometer.long.term.average' 'CLASSNAME' STORE // Classname Selector
					//'=torque.speed.obd' 'CLASSNAME' STORE // Classname Selector
					//'~.*' 'CLASSNAME' STORE // Classname Selector
					{} 'LABEL' STORE // Label list to filter

					[
					    $TOKEN
					    '=torque.speed.obd'
					    $LABEL
					    $BEGIN // Start TS
					    '2016-07-11T12:00:00.000000Z'
					] FETCH 'speed' STORE // Fetch the data

					// bucketizer is simply a downsampling of our fetched data
					[
					    $speed // Swap is pushing here the value stacked
					    bucketizer.mean
					    0 // lastbucket
					    10 s // bucketspan
					    0 // bucketcount
					] BUCKETIZE 'speed' STORE
					'color' '#ff1010'
					'key' 'Speed'
					4 ->MAP
					1 ->LIST
					'params' STORE

					'interpolate' 'cardinal'
					2 ->MAP
					'globalParams' STORE

					'gts' $speed
					'params' $params
					'globalParams' $globalParams
					6 ->MAP

				</warp10-quantumviz>
			</section>

			<section>
				<h3>Difference between GPS speed and OBD speed</h3>
				<warp10-quantumviz height="400" host="https://pierrezemb.ovh/api/v0">
					'ofl.IF2yopmtq8Ye7vEDXqhDWtjrSPSAOoNgLI.Niux7vKMIHUGCBcb0ss66LbUX..XCBKJ7FYpcpeq4_ZAx5L801WANjQgvr7nEPzYkQ206XrsvbFXpNdrH0S1tF9pPub_iW9tTCOIMHPJnQUGlpJHlI3aAdKvS2MigzYXSxGzlwGDaU7gf9gAz9nqYZPs1uCNQq7gYPuifCZpzkqzFJhlMX1r1K6G.FzChRdNR403c_oen_KvcJDTAOhwgOLjk' EVALSECURE

					'2016-07-11T12:00:00.000000Z' // Start of measures
					'BEGIN' STORE

					'2016-07-12T00:00:00.000000Z' // Start of measures
					'END' STORE

					'~torque.speed.*' 'CLASSNAME' STORE // Classname Selector
					{} 'LABEL' STORE // Label list to filter

					[
					    $TOKEN
					    $CLASSNAME
					    $LABEL
					    $BEGIN // Start TS
					    $END
					    //NOW ISO8601 // End TS
					] FETCH  // Fetch the data

					{ 'id' '' } RELABEL

					// bucketizer is simply a downsampling of our fetched data
					[
					    SWAP // Swap is pushing here the value stacked
					    bucketizer.mean
					    0 // lastbucket
					    20 s // bucketspan
					    0 // bucketcount
					] BUCKETIZE
					[ SWAP [ '' ] op.sub ] APPLY
					[ SWAP mapper.abs 0 0 0 ] MAP
					'speed' STORE

     'color' '#ff1010'
     'key' 'Speed difference'
     4 ->MAP
     1 ->LIST
     'params' STORE

     'interpolate' 'cardinal'
     2 ->MAP
     'globalParams' STORE

     'gts' $speed
     'params' $params
     'globalParams' $globalParams
     6 ->MAP

				</warp10-quantumviz>
				<p><small>mean: 1.38 km/h</small></p>
			</section>
		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>

	<script>
	// More info https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		history: true,
		// Loop the presentation
		loop: true,
		autoSlide: 15000,

		// More info https://github.com/hakimel/reveal.js#dependencies
		dependencies: [
			{ src: 'plugin/markdown/marked.js' },
			{ src: 'plugin/markdown/markdown.js' },
			{ src: 'plugin/notes/notes.js', async: true },
			{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
		]
	});
	</script>
</body>

</html>
